In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Cargar el dataset
file_path = 'terremotos.csv'
df = pd.read_csv(file_path)

In [4]:
# Mostrar las primeras filas del dataset
print("Primeras filas del dataset:")
print(df.head())

# Mostrar información general del dataset
print("\nInformación del dataset:")
print(df.info())

# Descripción estadística básica del dataset
print("\nDescripción estadística:")
print(df.describe())

# Verificar si hay valores nulos en el dataset
print("\nValores nulos por columna:")
print(df.isnull().sum())

Primeras filas del dataset:
              UTC Date Profoundity Magnitude        Date      Hour  \
0  2024-03-01 16:35:22      243 km    2.9 Ml  2024-03-01  13:35:22
1  2024-03-01 15:41:03      259 km    3.6 Ml  2024-03-01  12:41:03
2  2024-03-01 08:27:13       26 km    2.9 Ml  2024-03-01  05:27:13
3  2024-03-01 08:22:21       54 km    3.7 Ml  2024-03-01  05:22:21
4  2024-03-01 07:12:58       20 km    2.9 Ml  2024-03-01  04:12:58

                   Location  Latitude  Longitude
0    45 km al SE de Socaire   -23.958    -67.698
1     57 km al E de Socaire   -23.800    -67.375
2      33 km al S de Huasco   -28.755    -71.288
3     49 km al SO de Huasco   -28.822    -71.520
4  16 km al SE de Los Vilos   -31.991    -71.376

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134062 entries, 0 to 134061
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   UTC Date     134062 non-null  object
 1   Profoundity  133590 non-null  object
 2   Magnitude    133590 non-null  object
 3   Date         133590 non-null  object
 4   Hour         133590 non-null  object
 5   Location     133590 non-null  object
 6   Latitude     133590 non-null  float64
 7   Longitude    133590 non-null  float64
dtypes: float64(2), object(6)
memory usage: 8.2+ MB
None

Descripción estadística:
            Latitude      Longitude
count  133590.000000  133590.000000
mean      -28.025143     -69.920180
std         6.730286      10.663553
min       -65.399000    -179.989000
25%       -33.048000     -71.698000
50%       -29.742000     -70.527000
75%       -21.997000     -69.013000
max        58.692000     179.647000

Valores nulos por columna:
UTC Date         0
Profoundity    472
Magnitude      472
Date           472
Hour           472
Location       472
Latitude       472
Longitude      472
dtype: int64

In [5]:
import csv

# Leer el contenido del archivo y eliminar las comillas dobles
with open('terremotos.csv', "r+", encoding="utf-8") as csv_file:
    content = csv_file.read()

with open('edited.csv', "w+", encoding="utf-8") as csv_file:
    # Reemplazar comillas dobles
    content = content.replace('"', '')
    
    # Escribir el contenido sin las comillas dobles en el nuevo archivo
    csv_file.write(content)

# Ahora, agregar la columna "Errors"
with open('edited.csv', "r", encoding="utf-8") as csv_file:
    reader = csv.reader(csv_file)
    rows = list(reader)

# Agregar la columna "Errors" en el encabezado
header = rows[0] + ['Errors']
rows[0] = header

# Guardar el archivo con la nueva columna
with open('df2.csv', "w", encoding="utf-8", newline='') as csv_file:
    writer = csv.writer(csv_file)
    writer.writerows(rows)

In [6]:
# Cargar el dataset
file_path = 'df2.csv'
df = pd.read_csv(file_path)

C:\Users\lea\AppData\Local\Temp\ipykernel_6784\3118929495.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [7]:
# Mostrar las primeras filas del dataset
print("Primeras filas del dataset:")
print(df.head())

# Mostrar información general del dataset
print("\nInformación del dataset:")
print(df.info())

# Descripción estadística básica del dataset
print("\nDescripción estadística:")
print(df.describe())

# Verificar si hay valores nulos en el dataset
print("\nValores nulos por columna:")
print(df.isnull().sum())

Primeras filas del dataset:
              UTC Date Profoundity Magnitude        Date      Hour  \
0  2024-03-01 16:35:22      243 km    2.9 Ml  2024-03-01  13:35:22
1  2024-03-01 15:41:03      259 km    3.6 Ml  2024-03-01  12:41:03
2  2024-03-01 08:27:13       26 km    2.9 Ml  2024-03-01  05:27:13
3  2024-03-01 08:22:21       54 km    3.7 Ml  2024-03-01  05:22:21
4  2024-03-01 07:12:58       20 km    2.9 Ml  2024-03-01  04:12:58

                   Location Latitude  Longitude  Errors
0    45 km al SE de Socaire  -23.958    -67.698     NaN
1     57 km al E de Socaire  -23.800    -67.375     NaN
2      33 km al S de Huasco  -28.755    -71.288     NaN
3     49 km al SO de Huasco  -28.822    -71.520     NaN
4  16 km al SE de Los Vilos  -31.991    -71.376     NaN

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134062 entries, 0 to 134061
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   UTC Date     134062 non-null  object
 1   Profoundity  134062 non-null  object
 2   Magnitude    134062 non-null  object
 3   Date         134062 non-null  object
 4   Hour         134062 non-null  object
 5   Location     134062 non-null  object
 6   Latitude     134062 non-null  object
 7   Longitude    134062 non-null  float64
 8   Errors       472 non-null     float64
dtypes: float64(2), object(7)
memory usage: 9.2+ MB
None

Descripción estadística:
           Longitude      Errors
count  134062.000000  472.000000
mean      -69.891829  -55.095220
std        10.655730   10.113674
min      -179.989000  -63.016000
25%       -71.695000  -58.408000
50%       -70.518000  -58.344500
75%       -69.002000  -58.249750
max       179.647000   -1.535000

Valores nulos por columna:
UTC Date            0
Profoundity         0
Magnitude           0
Date                0
Hour                0
Location            0
Latitude            0
Longitude           0
Errors         133590
dtype: int64

In [8]:
import pandas as pd

# Supongamos que tu DataFrame original se llama df
# Carga el DataFrame desde tu archivo
# df = pd.read_csv('tu_archivo.csv')

# Crear un nuevo DataFrame con solo las columnas
df_separated = df[['Location','Latitude', 'Longitude', 'Errors']]

# Mostrar el nuevo DataFrame separado
print(df_separated)

# Opcional: guardar el DataFrame separado en un nuevo archivo CSV
df_separated.to_csv('columnas_separadas.csv', index=False)

                        Location Latitude  Longitude  Errors
0         45 km al SE de Socaire  -23.958    -67.698     NaN
1          57 km al E de Socaire  -23.800    -67.375     NaN
2           33 km al S de Huasco  -28.755    -71.288     NaN
3          49 km al SO de Huasco  -28.822    -71.520     NaN
4       16 km al SE de Los Vilos  -31.991    -71.376     NaN
...                          ...      ...        ...     ...
134057   15 km al SO de Quillota  -32.986    -71.348     NaN
134058     22 km al S de Petorca  -32.446    -70.923     NaN
134059    18 km al NO de Illapel  -31.535    -71.318     NaN
134060  16 km al SO de Melipilla  -33.787    -71.339     NaN
134061    22 km al O de Santiago   -33.41    -70.880     NaN

[134062 rows x 4 columns]

In [9]:
# Cargar el dataset
file_path = 'columnas_separadas.csv'
df = pd.read_csv(file_path)

C:\Users\lea\AppData\Local\Temp\ipykernel_6784\1652336599.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [10]:
# Mostrar las primeras filas del dataset
print("Primeras filas del dataset:")
print(df.head())

# Mostrar información general del dataset
print("\nInformación del dataset:")
print(df.info())

# Descripción estadística básica del dataset
print("\nDescripción estadística:")
print(df.describe())

# Verificar si hay valores nulos en el dataset
print("\nValores nulos por columna:")
print(df.isnull().sum())

Primeras filas del dataset:
                   Location Latitude  Longitude  Errors
0    45 km al SE de Socaire  -23.958    -67.698     NaN
1     57 km al E de Socaire  -23.800    -67.375     NaN
2      33 km al S de Huasco  -28.755    -71.288     NaN
3     49 km al SO de Huasco  -28.822    -71.520     NaN
4  16 km al SE de Los Vilos  -31.991    -71.376     NaN

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134062 entries, 0 to 134061
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Location   134062 non-null  object
 1   Latitude   134062 non-null  object
 2   Longitude  134062 non-null  float64
 3   Errors     472 non-null     float64
dtypes: float64(2), object(2)
memory usage: 4.1+ MB
None

Descripción estadística:
           Longitude      Errors
count  134062.000000  472.000000
mean      -69.891829  -55.095220
std        10.655730   10.113674
min      -179.989000  -63.016000
25%       -71.695000  -58.408000
50%       -70.518000  -58.344500
75%       -69.002000  -58.249750
max       179.647000   -1.535000

Valores nulos por columna:
Location          0
Latitude          0
Longitude         0
Errors       133590
dtype: int64

In [11]:
# Filtrar las filas donde la columna 'Latitude' tiene el valor 'AntÃ¡rtica'
df_filtered = df[df['Latitude'].str.contains('AntÃ¡rtica', na=False, case=False)]

# Mostrar el DataFrame filtrado
print(df_filtered)

                         Location     Latitude  Longitude  Errors
3167     183 km al S de Base Frei   AntÃ¡rtica    -63.844 -59.006
8275     117 km al E de Base Frei   AntÃ¡rtica    -61.554 -57.199
11985    130 km al O de Base Frei   AntÃ¡rtica    -62.293 -61.480
12531     31 km al E de Base Frei   AntÃ¡rtica    -62.186 -58.380
12564     12 km al E de Base Frei   AntÃ¡rtica    -62.148 -58.755
...                           ...          ...        ...     ...
120467  1863 km al E de Base Frei   AntÃ¡rtica    -58.674 -25.359
120654  1903 km al E de Base Frei   AntÃ¡rtica    -57.929 -25.329
120730  1876 km al E de Base Frei   AntÃ¡rtica    -55.325 -28.844
122284  1899 km al E de Base Frei   AntÃ¡rtica    -55.699 -27.913
122692  2421 km al E de Base Frei   AntÃ¡rtica    -58.433 -14.751

[472 rows x 4 columns]

In [12]:
# Cargar el dataset
file_path = 'df.csv'
df = pd.read_csv(file_path)

In [15]:
# Eliminar la columna sin nombre (Unnamed: 8)
df = df.drop(columns=['Unnamed: 8'])
df.to_csv('df_final.csv', index=False)

# Guardar el nuevo DataFrame sin la columna

In [ ]:
# Cargar el dataset
file_path = 'df_final.csv'
df = pd.read_csv(file_path)

In [13]:
# Mostrar las primeras filas del dataset
print("Primeras filas del dataset:")
print(df.head())

# Mostrar información general del dataset
print("\nInformación del dataset:")
print(df.info())

# Descripción estadística básica del dataset
print("\nDescripción estadística:")
print(df.describe())

# Verificar si hay valores nulos en el dataset
print("\nValores nulos por columna:")
print(df.isnull().sum())

Primeras filas del dataset:
              UTC Date Profoundity Magnitude        Date      Hour  \
0  2024-03-01 16:35:22      243 km    2.9 Ml  2024-03-01  13:35:22
1  2024-03-01 15:41:03      259 km    3.6 Ml  2024-03-01  12:41:03
2   2024-03-01 8:27:13       26 km    2.9 Ml  2024-03-01   5:27:13
3   2024-03-01 8:22:21       54 km    3.7 Ml  2024-03-01   5:22:21
4   2024-03-01 7:12:58       20 km    2.9 Ml  2024-03-01   4:12:58

                   Location  Latitude  Longitude  Unnamed: 8
0    45 km al SE de Socaire   -23.958    -67.698         NaN
1     57 km al E de Socaire   -23.800    -67.375         NaN
2      33 km al S de Huasco   -28.755    -71.288         NaN
3     49 km al SO de Huasco   -28.822    -71.520         NaN
4  16 km al SE de Los Vilos   -31.991    -71.376         NaN

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134062 entries, 0 to 134061
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   UTC Date     134062 non-null  object
 1   Profoundity  134062 non-null  object
 2   Magnitude    134062 non-null  object
 3   Date         134062 non-null  object
 4   Hour         134062 non-null  object
 5   Location     134062 non-null  object
 6   Latitude     134062 non-null  float64
 7   Longitude    134062 non-null  float64
 8   Unnamed: 8   0 non-null       float64
dtypes: float64(3), object(6)
memory usage: 9.2+ MB
None

Descripción estadística:
            Latitude      Longitude  Unnamed: 8
count  134062.000000  134062.000000         0.0
mean      -28.144294     -69.867985         NaN
std         7.011530      10.697731         NaN
min       -65.399000    -179.989000         NaN
25%       -33.075000     -71.695000         NaN
50%       -29.800500     -70.518000         NaN
75%       -22.008000     -69.002000         NaN
max        58.692000     179.647000         NaN

Valores nulos por columna:
UTC Date            0
Profoundity         0
Magnitude           0
Date                0
Hour                0
Location            0
Latitude            0
Longitude           0
Unnamed: 8     134062
dtype: int64

In [14]:
print("\nValores nulos por columna:")
print(df.isnull().sum())

Valores nulos por columna:
UTC Date            0
Profoundity         0
Magnitude           0
Date                0
Hour                0
Location            0
Latitude            0
Longitude           0
Unnamed: 8     134062
dtype: int64